<nav>
    <div class="nav-wrapper z-depth-1">
        <a href="#" class="brand-logo">Guest Book</a>
        <form>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="input-field">
                    <div class="btn waves-effect waves-light btn-in" ng-click="sign.signOut()">
                        <span>OUT</span>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</nav>

    <div id="main-container">
        <div class="main-item z-depth-1" id="item-book">
            <h2 class="item-title">
                Book
            </h2>
            <!--Articles: -->
            <div class="book-card card" ng-repeat="item in sign.book">
                <div class="row book-card-user">
                    <img src="{{item.imgSrc}}" alt="{{item.user}}" class="user-img-small z-depth-1">
                    <span class="user-name">{{item.user}}</span>
                    <span class="user-time">{{item.time}}</span>
                    <span class="count">{{item.idArticle}}</span>
                </div>
                <div class="row">
                    <div class="book-card-article">{{item.text}}</div>
                </div>
            </div>
            <!-- I Have to Say -->
            <div class="user-card card user-card-active">
                <div class="row book-card-user">
                    <img src="{{sign.iPhoto}}" alt="User Name" class="user-img-small z-depth-1">
                        <span class="user-name-center">
                            I have to say:
                        </span>
                </div>
                <div class="row message-row">
                    <textarea name="message" maxlength="300" ng-model="sign.articleToPost"></textarea>
                    <span class="btn red waves-effect waves-light btn-send" ng-click="sign.postArticle()">Add</span>
                </div>
            </div>
        </div>
        <!-- Users: -->
        <div class="main-item z-depth-2" id="item-users">
            <h2 class="item-title">
                Users
            </h2>
            <!--Users List: -->
            <div class="user-card card" ng-repeat="user in sign.users"> <!-- THIS -->
                <div class="row user-card-user">
                    <img src="{{user.img}}" alt="{{user.author}}" class="user-img-small z-depth-1">
                        <span class="user-name-center">
                            {{user.author}}
                        </span>
                    <span class="btn waves-effect waves-light btn-write" ng-click="sign.writeMsg(user.id)">WRITE</span>
                </div>
                <div class="row message-row">
                    <textarea name="message" maxlength="300" class="message-area">Hi, {{user.author}}! </textarea>
                    <span class="btn green waves-effect waves-light btn-send" ng-click="sign.sendMessage(user.id)">SEND</span>
                </div>
            </div>
        </div>
        <!-- Messages -->
        <div class="main-item z-depth-3" id="item-massages">
            <h2 class="item-title">
                Messages
            </h2>
            <!-- MSG In: -->
            <div class="msg-input">
                <h4 class="item-title">
                    In:
                </h4>
                <!-- MSG In: -->
                <div class="book-card card" ng-repeat="msg in sign.inMsgs">
                    <div class="row user-card-msg">
                        <img src="{{msg.imgSrc}}" alt="{{msg.user}}" class="user-img-small z-depth-1">
                            <span class="user-name">
                                {{msg.user}} wrote:
                            </span>
                            <span class="user-time">
                                {{msg.time}}
                            </span>
                    </div>
                    <div class="row">
                        <div class="book-card-article" ng-bind-html="msg.msg"></div>
                    </div>
                </div>

            </div>
            <!-- MSG Out: -->
            <div class="msg-output">
                <h4 class="item-title">
                    Out:
                </h4>
                <!-- MSG Out: -->
                <div class="book-card card" ng-repeat="msg in sign.outMsgs">
                    <div class="row user-card-msg">
                        <img src="{{msg.imgSrc}}" alt="{{msg.user}}" class="user-img-small z-depth-1">
                            <span class="user-name">
                                Sent to {{msg.user}}:
                            </span>
                            <span class="user-time">
                                {{msg.time}}
                            </span>
                    </div>
                    <div class="row">
                        <div class="book-card-article" ng-bind-html="msg.msg"></div>
                    </div>
                </div>

            </div>

        </div>
        <div class="main-item z-depth-4" id="item-profile">
            <h2 class="item-title">
                Profile
            </h2>

            <div class="row right-align">
                <span class="btn green waves-effect waves-light btn-edit" id="edit">EDIT</span>
            </div>
            <div class="row center-align">
                <img src="{{sign.iPhoto}}" alt="{{sign.iUserName}}" class="user-img-large z-depth-1">
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="file-field input-field col s12">
                            <input class="file-path validate text-color-white" type="text"/>
                            <div class="btn waves-effect waves-light">
                                <span>file</span>
                                <input type="file" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix"></i>
                            <input id="icon_prefix" type="text" class="validate text-color-white" ng-model="sign.iFirstName">
                            <label for="icon_prefix" id="fn">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate text-color-white" ng-model="sign.iLastName">
                            <label for="last_name" id="ln">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-content-markunread prefix"></i>
                            <input id="email" type="email" class="validate text-color-white" ng-model="sign.iMail">
                            <label for="email" id="em">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="new-password" type="text" class="validate text-color-white">
                            <label for="new-password">New Password</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="mdi-action-stars prefix"></i>
                        <textarea id="textarea1" class="materialize-textarea text-color-white" ng-model="sign.iAbout"></textarea>
                        <label for="textarea1" id="am">About me</label>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>